<% include ../partials/header %>
	<div class = "">
		<div class="col s12">
			<a href="/BDiZ/client" class="btn btn-success btn-lg mt-1">Клієнтська баз</a>
			<a href="/BDiZ/staff" class="btn btn-success btn-lg mt-1">База персоналу</a>
			<a href="/BDiZ/guarantee" class="btn btn-success btn-lg mt-1">База гарантій</a>
			<a href="/BDiZ/storage" class="btn btn-success btn-lg mt-1">База складу</a>
			<a href="/BDiZ/systemdiscount" class="btn btn-success btn-lg mt-1">База знижок</a>
			<a href="/BDiZ/works" class="btn btn-success btn-lg mt-1">База замовлень</a>
			<a href="/BDiZ/requests" class="btn btn-success btn-lg mt-1">Запити</a>
		</div>
	</div>


	
<% include ../partials/footer %>