<% include ../partials/header %>
	<div class = "">
		<div class="col s12">
			<a href="/BDiZ/request1" class="btn btn-success btn-lg mt-1">Запит1</a>
			<a href="/BDiZ/request2" class="btn btn-success btn-lg mt-1">Запит2</a>
			<a href="/BDiZ/request3" class="btn btn-success btn-lg mt-1">Запит3</a>
			<a href="/BDiZ/request4" class="btn btn-success btn-lg mt-1">Запит4</a>
			<a href="/BDiZ/request5" class="btn btn-success btn-lg mt-1">Запит5</a>
			<a href="/BDiZ/request6" class="btn btn-success btn-lg mt-1">Запит6</a>
			<a href="/BDiZ/request7" class="btn btn-success btn-lg mt-1">Запит7</a>
			<a href="/BDiZ/request8" class="btn btn-success btn-lg mt-1">Запит8</a>
			<a href="/" class="btn btn-success btn-lg mt-1">На головну</a>
		</div>
	</div>
<% include ../partials/footer %>